# ========================
# PostgreSQL
# ========================
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=coop-db
POSTGRES_PORT=5333

# ========================
# Backend (Spring Boot)
# ========================
APP_PORT=8800
JAVA_VERSION=17
SPRING_PROFILES_ACTIVE=default
JVM_MAX_RAM_PERCENTAGE=75.0

# ========================
# Docker
# ========================
COMPOSE_PROJECT_NAME=coop-financiera
