# ========================
# PostgreSQL (Dev)
# ========================
POSTGRES_USER=dev-user
POSTGRES_PASSWORD=dev-password
POSTGRES_DB=coop-db-dev
POSTGRES_PORT=5433

# ========================
# Backend (Spring Boot)
# ========================
APP_PORT=8801
APP_DEBUG_PORT=5005
JAVA_VERSION=17
SPRING_PROFILES_ACTIVE=dev
JVM_MAX_RAM_PERCENTAGE=75.0

# ========================
# Docker
# ========================
COMPOSE_PROJECT_NAME=coop-financiera-dev
